@import url(https://fonts.bunny.net/css?family=amatic-sc:700|fira-sans:100,200,300,400,500,600,700);

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'fira sans', sans-serif;
  }
}

@layer utilities {
  .error-animation {
    outline: 1px solid red;
    background-color: rgba(255, 0, 0, 0.1);
    animation: shake 0.3s;
    transform: translate3d(0, 0, 0);
    z-index: 1000;
  }

  @keyframes shake {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(5px);
    }
    50% {
      transform: translateX(-5px);
    }
    75% {
      transform: translateX(5px);
    }
    100% {
      transform: translateX(0);
    }
    /* 10%,
    90% {
      transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
      transform: translate3d(2px, 0, 0);
    }
    30%,
    50%,
    70% {
      transform: translate3d(-4px, 0, 0);
    }
    40%,
    60% {
      transform: translate3d(4px, 0, 0);
    } */
  }
}
