@import url(https://fonts.bunny.net/css?family=amatic-sc:700|fira-sans:100,200,300,400,500,600,700);

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'fira sans', sans-serif;
  }
}

@layer utilities {
  .error-animation {
    outline: 1px solid rgb(243, 111, 111);
    background-color: rgba(255, 0, 0, 0.1);
    animation: shake 0.4s;
  }

  @keyframes shake {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(5px);
    }
    50% {
      transform: translateX(-5px);
    }
    75% {
      transform: translateX(5px);
    }
    100% {
      transform: translateX(0);
    }
  }
}
